.parent{
  display: flex;
  justify-content:center;
}

.child{
  width: 20%;
  height:70%;
  border: 1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px;
  text-align: center;
  background-color: rgb(182, 248, 250);
}
.child img{
  width: 50%;
  
}
.link{
  text-decoration: none;
}
.btn{
  background: #CB17D6;
  color:#fff;
  padding: 1%;
  text-decoration: none;
  display: block;
}
.child2{
  border: ipx solid #ddd;
  width:75%;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  background-color: lavenderblush;
}
.skill{
  margin: 5%;
  padding:.5%;
  color:#fff;
  border-radius: 10px;
  background:#D937E4;
  border:1px solid #D2DC12;
  box-shadow: 0px 8px 8px -8px #000;
}